.card{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    align-content: center;
    margin: 0 auto;
}
.card-header {
    height: 50%;
    background-color:skyblue;
    color: black;
    text-align: center;
}
.card-header p{
    font-size: 37px ;
}
.container{
    padding:  10px 16px;
}